<nav class="sidebar">
  <a routerLink="/app/dashboard" routerLinkActive="active">
    Dashboard
  </a>

  <div class="group">Μάστερ Δεδομένα</div>
  <a routerLink="/app/customers" routerLinkActive="active">Πελάτες</a>
  <a routerLink="/app/items" routerLinkActive="active">Είδη</a>
  <a routerLink="/app/suppliers" routerLinkActive="active">Προμηθευτές</a>

  <div class="group">Κίνηση</div>
  <a routerLink="/app/sales/docs" routerLinkActive="active">
    Παραστατικά Πωλήσεων
  </a>
  <a routerLink="/app/purchases/docs" routerLinkActive="active">
    Παραστατικά Αγορών
  </a>
  <a routerLink="/app/receipts" routerLinkActive="active">Εισπράξεις</a>
  <a routerLink="/app/payments" routerLinkActive="active">Πληρωμές</a>
</nav>
